@{
    ViewBag.ActiveTab = "About";
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="content mainContent">
    <div class="panel panel-primary">
        <div class="panel-heading">Integrantes del grupo</div>
        <div class="panel-body table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><strong>Carné</strong></td>
                        <td><strong>Nombre</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>090-13-9241</td>
                        <td>David Fernando Mencos García</td>
                    </tr>
                    <tr>
                        <td>090-13-11386</td>
                        <td>Abner Josué González Oliva</td>
                    </tr>
                    <tr>
                        <td>090-12-8415</td>
                        <td>Pedro José Valladares Jiménez</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Universidad Mariano Gálvez de Guatemala</td>
                        <td>Ingeniería en Sistemas</td>
                        <td>Sección "A"</td>
                        <td>Jornada Diario Vespertina</td>
                        <td>Bases de Datos - Ing. Juan Carlos Monterroso</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
