<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Mantenimiento</a></li>
    <li role="presentation"><a href="#">Nuevo</a></li>
</ul>
<div class="panel panel-primary">
    <div class="panel-body">
        MANTENIMIENTO PGSQL
    </div>
</div>
